body {
  padding: 2% 10%;
  text-align: center;
  background: url(../images/back5.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14pt;
}

.wrapper {
  background-color: rgba(250, 235, 215, 0.8);
  padding: 30px;
  border-radius: 10px;
  height: 720px;
  display: flex;
  flex-direction: column;
}
.start {
  margin: auto 0;
}
#start,
#reStart,
.names {
  background-color: #252850;
  color: bisque;
  font-family: "Josefin Sans", sans-serif;
  outline: 0;
}
#start,
#reStart {
  border-radius: 30px;
  font-size: 24pt;
  padding: 15px 30px;
}
.names {
  margin: 5px 15px;
  padding: 5px 15px;

  border-radius: 10px;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

#start:active,
#reStart:active {
  background-color: rgba(250, 235, 215, 0.2);
  color: #252850;
  border: 0;
  border-radius: 30px;
  padding: 10px 25px;
  font-size: 30pt;
  outline: 0;
}

.answers {
  display: flex;
  height: 50px;
  justify-content: center;
  padding: 10px 40px;
}

h1 {
  font-size: 40pt;
  color: #252850;
  font-family: "Barrio", cursive;
}
h2 {
  font-size: 24pt;
}

h3 {
  font-size: 20pt;
  margin: 25px 0 50px 0;
}

.timer {
  margin: 40px 0;
}
.image {
  margin-top: 20px;
  height: 350px;
}
img {
  max-width: 100%;
  max-height: 100%;
}
.quiz,
.score {
  display: none;
}
.check {
  margin: 50px 0;
  display: none;
  background-color: rgba(250, 235, 215, 0.2);
  color: #252850;
  border: 0;
  border-radius: 30px;
  font-size: 24pt;
  outline: 0;
}

.score {
  padding: 20% 0;
}

@media screen and (max-width: 640px) {
  body {
    padding: 1% 5%;
  }
  .wrapper {
    padding: 30px 15px;
  }
  .names {
    margin: 0 5px;
    font-size: 11pt;
    display: flex;
    justify-content: center;
  }
  h1 {
    font-size: 38pt;
  }
}

@media screen and (min-width: 820px) {
  h1 {
    font-size: 44pt;
  }
}
